---

- name: Jenkins test
  hosts: all
  connection: local
  remote_user: root
  gather_facts: true
  # become: yes
  tasks:
    - shell: cat /proc/cpuinfo
      register: infocpu
   
    - debug:
        var: infocpu

  



...
